html,
body {
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
hr {
    border-color: #F05F40;
    border-width: 3px;
    max-width: 100px;
}
hr.light {
    border-color: white;
}
a {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    color: #F05F40;
}
a:hover,
a:focus {
    color: #eb3812;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.bg-primary {
    background-color: #F05F40;
}
.bg-dark {
    background-color: #222222;
    color: white;
}
.text-faded {
    color: rgba(255, 255, 255, 0.7);
}
header {
    position: relative;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url('../img/header.jpg');
    text-align: center;
    color: white;
}
.header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
}
.header-content .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}
.header-content .header-content-inner hr {
    margin: 30px auto;
}
.header-content .header-content-inner p {
    font-weight: 300;
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px;
}
div.g-recaptcha {
    margin: 0 auto;
    width: 320px;
    margin-bottom: 20px;
}
header {
    min-height: 100%;
    z-index: 1;
}

.header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
    z-index: 4;
    color: #fff;
}
.header-content .header-content-inner {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
}
.header-content .header-content-inner h1 {
    font-size: 50px;
    z-index: 3;
}
.header-content .header-content-inner p {
    font-size: 18px;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
}
header.layer{
    position: absolute;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 2;
    background-image: none;
}
.call-to-action h2 {
    margin: 0 auto 20px;
}
.text-primary {
    color: #F05F40;
}
.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}
.btn-default {
    color: #222222;
    background-color: white;
    border-color: white;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.btn-primary .badge {
    color: #F05F40;
    background-color: white;
}
.btn {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}
.btn-xl {
    padding: 15px 30px;
}

i.ellipsis i {
    font-style: normal;
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0s;
    -moz-animation: dot 1.3s infinite;
    -moz-animation-delay: 0s;
    -o-animation: dot 1.3s infinite;
    -o-animation-delay: 0s;
    animation: dot 1.3s infinite;
    animation-delay: 0s;
}

i.ellipsis i+i {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
    -moz-animation: dot 1.3s infinite;
    -moz-animation-delay: 0.2s;
    -o-animation: dot 1.3s infinite;
    -o-animation-delay: 0.2s;
    animation: dot 1.3s infinite;
    animation-delay: 0.2s;
}

i.ellipsis i+i+i {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
    -moz-animation: dot 1.3s infinite;
    -moz-animation-delay: 0.3s;
    -o-animation: dot 1.3s infinite;
    -o-animation-delay: 0.3s;
    animation: dot 1.3s infinite;
    animation-delay: 0.3s;
}

i.ellipsis i+i+i+i {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.4s;
    -moz-animation: dot 1.3s infinite;
    -moz-animation-delay: 0.4s;
    -o-animation: dot 1.3s infinite;
    -o-animation-delay: 0.4s;
    animation: dot 1.3s infinite;
    animation-delay: 0.4s;
}

i.ellipsis i+i+i+i+i {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.5s;
    -moz-animation: dot 1.3s infinite;
    -moz-animation-delay: 0.5s;
    -o-animation: dot 1.3s infinite;
    -o-animation-delay: 0.5s;
    animation: dot 1.3s infinite;
    animation-delay: 0.5s;
}

@-webkit-keyframes dot {
    0%, 50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@-moz-keyframes dot {
    0%, 50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@-o-keyframes dot {
    0%, 50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes dot {
    0%, 50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}